.brand-container 
     display: flex
     transition: .5s
     height: 600px
     border-bottom: 30px solid $primary
     z-index: 2
     .logo 
          width: 150px
          height: 150px
          &:hover
               background-size: 100%
               transition: .5s
.brand-nav
     position: fixed
     width: 100%
     height: 130px
     top: 0
     z-index: 2
     border-bottom: 3px solid $primary
     div.logo
          width: 100px
          height: 100px
          margin-top: 15px
.brand 
     background-color: $grey-light
     transition: .2s
     .brand-logo
          background-image: url('http://colonscreeningforlife.com//files/starbucks-logo-png-transparent.png')
          background-size: 90%
          background-repeat: no-repeat
          background-position: center
          transition: .2s
          margin: auto auto