.tool-options
  position: absolute
  top: 260px
  right: 40px
  visibility: hidden
  opacity: 0
  transition: .3s
  z-index: 1
  .tools
    transition: .3s
  .tools-close
    opacity: 0
    visibility: hidden
  .tools-open
    opacity: 1
    visibility: visible
  a
    display: block
    margin: 20px 0px
.range-select
  position: absolute
  margin-left: -220px
  width: 200px
  margin-top: -70px
  transition: .3s
.tools-show
  visibility: visible !important
  opacity: 1 !important
.btn-undo, .btn-screen
  position: absolute !important
  visibility: hidden
  opacity: 0
  transition: .3s !important
.btn-undo
  top: 280px
  left: 40px
.btn-screen
  top: 550px
  right: 40px