<canvas id="canvas" class="border canvas-drawer"></canvas>
<div class="container tool-bar">
    <div class="btn-group rounded-0 col-12 d-flex justify-content-center" role="group">
        <button type="button" class="btn btn-secondary"><i class="material-icons">add</i></button>
        <button type="button" class="btn btn-secondary active"><i class="material-icons">create</i></button>
        <button type="button" class="btn btn-secondary"><i class="material-icons">font_download</i></button>
        <button type="button" class="btn btn-secondary"><i class="material-icons">format_size</i></button>
        <button type="button" class="btn btn-secondary"><i class="material-icons">mood</i></button>
        <button type="button" class="btn btn-secondary"><i class="material-icons">color_lens</i></button>
    </div>
</div>