<canvas id="canvas" class="border canvas-drawer"></canvas>
<div class="container tool-bar">
    <div class="btn-group rounded-0 col-12 d-flex justify-content-center" role="group">
        <button type="button" class="btn btn-secondary" placement="top" ngbTooltip="New draw"><i class="material-icons">add</i></button>
        <button type="button" class="btn btn-secondary" placement="top" ngbTooltip="Pencil"><i class="material-icons">create</i></button>
        <button type="button" class="btn btn-secondary" placement="top" ngbTooltip="Color"><i class="material-icons">color_lens</i></button>
        <button type="button" class="btn btn-secondary" placement="top" ngbTooltip="Add text"><i class="material-icons">format_color_text</i></button>
        <div class="btn-group" role="group" placement="top" ngbTooltip="Text style">
            <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="material-icons">spellcheck</i>
            </button>
            <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                <a class="dropdown-item" href="#">Style 1</a>
                <a class="dropdown-item" href="#">Style 2</a>
                <a class="dropdown-item" href="#">Style 3</a>
            </div>
        </div>
        <div class="btn-group" role="group" placement="top" ngbTooltip="Text Size">
            <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="material-icons">format_size</i>
            </button>
            <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                <a class="dropdown-item" href="#">Small</a>
                <a class="dropdown-item" href="#">Medium</a>
                <a class="dropdown-item" href="#">Large</a>
            </div>
        </div>
        <button type="button" class="btn btn-secondary" placement="top" ngbTooltip="Emoji"><i class="material-icons">mood</i></button>
        <button type="button" class="btn btn-secondary" placement="top" ngbTooltip="Save"><i class="material-icons">file_download</i></button>
        <button type="button" class="btn btn-secondary" placement="top" ngbTooltip="Share" data-toggle="modal" data-target="#shareModal"><i class="material-icons">share</i></button>
    </div>
</div>

  

<div class="modal fade" id="shareModal" tabindex="-1" role="dialog" aria-labelledby="shareModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <img class="modal-logo" src="https://png.pngtree.com/element_our/png_detail/20180731/starbucks-coffee-icon-logo-png_44609.png" alt="">
            <h4>Share</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="bg-green p-1 col-12"></div>
        <div class="modal-body d-flex justify-content-around align-items-center">
            <button type="button" class="btn-social fb" placement="top" ngbTooltip="Share in Facebook"></button>
            <button type="button" class="btn-social twitter" placement="top" ngbTooltip="Share in Twitter"></button>
            <button type="button" class="btn-social email" placement="top" ngbTooltip="Share in Email"></button>
        </div>
        </div>
    </div>
</div>