<div class="container-share">
  <div class="start none">
      <h5>START DRAWING!</h5>
      <i class="material-icons">touch_app</i>
  </div>
  <div class="finished none">
      <a class="btn btn-finished">FINISHED!</a>
  </div>
  <div class="form1">
    <p class="text-primary">Share your artwork to inspire & engage others!</p>
    <form action="">
      <input type="text" placeholder="Full Name">
      <input type="text" placeholder="Email">
      <input type="text" placeholder="Number">
      <div class="buttons">
          <a class="btn btn-skip">SKIP</a>
          <a class="btn btn-share">SHARE ARTWORK!</a>
      </div>
    </form>
  </div>
  <div class="form2 none">
    <p class="text-primary">Thanks for being inspired & creative</p>
    <div class="username">
      Jessica West
    </div>
    <p class="text-italic">Please TAP to Select your prefered SM:</p>
    <div class="sm-container">
        <a class="btn btn-sm sm-ig"></a>
        <a class="btn btn-sm sm-fb"></a>
        <a class="btn btn-sm sm-tw"></a>
        <a class="btn btn-sm sm-g"></a>
    </div>
    <a class="btn btn-share">SHARE!</a>
  </div>
</div>